<div
    class="container totvs-content"
    ng-class="controller.anim"
    ui-view="bills.detail"
    ng-controller="BillDetailController as controller">

    <ul class="totvs-list" style="margin-top:0px">
        <li class="totvs-list-divider">
            {{ 'l-Conta' | translate }}
        </li>

        <li class="totvs-list-item">
            <div class="totvs-list-item-label">
                {{ 'l-Valor' | translate }}
            </div>
            <div class="totvs-list-item-value">
                <p>{{controller.bill.value}}</p>
            </div>
        </li>

        <li class="totvs-list-item">
            <div class="totvs-list-item-label">
                {{ 'l-Data' | translate }}
            </div>
            <div class="totvs-list-item-value">
                <p>{{ controller.bill.date }}</p>
            </div>
        </li>

        <li class="totvs-list-item">
            <div class="totvs-list-item-label">
                {{ 'l-Descricao' | translate }}
            </div>
            <div class="totvs-list-item-value">
                <p>{{ controller.bill.desc }}</p>
            </div>
        </li>

        <li class="totvs-list-item">
            <div class="totvs-list-item-label">
                {{ 'l-TipoDespesa' | translate }}
            </div>

            <div class="totvs-list-item-value">
                <select class="totvs-select">
                    <option value="001">Comida</option>
                    <option value="002">Transporte</option>
                    <option value="003">Taxi</option>
                </select>
            </div>

        </li>

    </ul>

    <div class="totvs-content-padding">
        <button
            id="btSalvar"
            type="button"
            class="totvs-btn totvs-btn-primary totvs-btn-justified"
            ng-click="controller.save()">
            {{ 'l-Finalizar' | translate }}
        </button>
    </div>

</div>
